In [554]:
import requests
from bs4 import BeautifulSoup
import urllib
import pandas as pd
import numpy as np
import re

In [509]:
url ="http://webscraper.io/test-sites/tables"
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

In [510]:
raw_tables = soup.find_all('table', attrs = {'class' : re.compile(r'[table-]*')})

Python 3.8.5

In [512]:
variables = { 'numbers' : [],
             'FN' : [],
             'LN' : [],
             'username' : [] }

for raw_table in raw_tables:
    rtable = raw_table.tbody.find_all('td')
    #print(rtable)
    for i, j, k, l in zip(range(0, len(rtable), 4), range(1, len(rtable), 4), range(2, len(rtable), 4), range(3, len(rtable), 4)):
        variables['numbers'].append(rtable[i].text)
        variables['FN'].append(rtable[j].text)
        variables['LN'].append(rtable[k].text)
        variables['username'].append(rtable[l].text)

In [515]:
df = pd.DataFrame(variables)

In [516]:
df

   numbers     FN        LN  username
0        1   Mark      Otto      @mdo
1        2  Jacob  Thornton      @fat
2        3  Larry  the Bird  @twitter
3        4  Harry    Potter       @hp
4        5   John      Snow    @dunno
5        6    Tim      Bean  @timbean
6        1   Mark      Otto      @mdo
7        2  Jacob  Thornton      @fat
8        3  Larry  the Bird  @twitter
9        -      -         -         -
10       1   Mark      Otto      @mdo
11       2  Jacob  Thornton      @fat
12       3  Larry  the Bird  @twitter